@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
  --secondary-container: #3a4b39;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  transition: 0.2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: hsl(228, 28%, 20%);
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: hsl(0, 0%, 100%);
}

input:checked + .slider {
  background-color: hsl(230, 22%, 74%);
  background-image: linear-gradient(to right, #d3d3e4, #d3d3e4);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(230, 22%, 74%);
  background-image: linear-gradient(to right, #d3d3e4, #d3d3e4);
}

input:checked + .slider:before {
  transform: translateX(1.9em);
}

/* .border-facebook {
  border-top: 4px solid hsl(208, 92%, 53%);
}
.border-twitter {
  border: 4px solid hsl(203, 89%, 53%);
}
.border-instagram {
  border-top-width: 4px;
  border-top: solid;
  border-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}
.border-youtube {
  border: 4px solid;
} */
